http:
  middlewares:
    rate-limit:
      rateLimit:
        average: 100
        burst: 50
    auth-headers:
      headers:
        customRequestHeaders:
          X-Forwarded-Proto: "https"
    compress:
      compress: {}

