version: 2

models:
  - name: stg_beefy_api_configs__tokens
    description: "Staging model for tokens from dlt beefy_api_configs dataset"
    columns:
      - name: type
        description: "Token type"
      - name: id
        description: "Token identifier (part of primary key)"
        tests:
          - not_null
      - name: symbol
        description: "Token symbol"
      - name: name
        description: "Token name"
      - name: chain_beefy_key
        description: "Chain ID (part of primary key)"
        data_type: String
        tests:
          - not_null
      - name: oracle
        description: "Oracle"
      - name: oracle_id
        description: "Oracle ID"
      - name: address
        description: "Token address"
      - name: decimals
        description: "Token decimals"
      - name: bridge
        description: "Bridge information"
      - name: staked
        description: "Whether token is staked"
    tests:
      - dbt_utils.unique_combination_of_columns:
          name: unique_combination_of_chain_beefy_key_oracle_id_name
          arguments:
            combination_of_columns:
              - chain_beefy_key
              - oracle_id
              - id
      - dbt_utils.unique_combination_of_columns:
          name: unique_combination_of_chain_beefy_key_address
          arguments:
            combination_of_columns:
              - chain_beefy_key
              - address
