api:
  dashboard: false
  insecure: false

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
    observability:
      accessLogs: false
      metrics: false
      tracing: false
  websecure:
    address: ":443"
    http:
      tls:
        certResolver: letsencrypt
    observability:
      accessLogs: false
      metrics: false
      tracing: false

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    watch: true

certificatesResolvers:
  letsencrypt:
    acme:
      httpChallenge:
        entryPoint: web
      storage: /letsencrypt/acme.json

log: {}

accessLog: {}

metrics:
  prometheus:
    entryPoint: web
